---
title: BOSH Backup and Restore Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='1.2'></a> v1.2.6

**Release Date**: July 27, 2018

#### Features

None

#### Bug Fixes

* `bbr` is now able to talk to BOSH via a SOCKS5 proxy -- [story](https://www.pivotaltracker.com/n/projects/1662777/stories/157779432)

### <a id='1.2'></a> v1.2.4

**Release Date**: June 29, 2018

#### Features

None

#### Bug Fixes

* Ability to run against deployments with Windows VMs
* Built with Go 1.10.3

#### Known Issues

None

### <a id='1.2'></a> v1.2.3

**Release Date**: June 4, 2018

#### Features

None

#### Bug Fixes

Fix issue where BBR fails if a locking dependency is specified but missing.

#### Known Issues

None

### <a id='1.2'></a> v1.2.2

**Release Date**: April 18, 2018

#### Features

None

#### Bug Fixes

Fix ssh issue introduced by calling backup scripts in parallel.

#### Known Issues

None

### <a id='1.2'></a> v1.2.1

**Release Date**: April 9, 2018

#### Features

* Adds `--artifact-path` for backup to enable specifying where the backup artifacts should go 

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.2'></a> v1.2.0

**Release Date**: February 22, 2018

#### Features
* Call lock and unlock scripts in parallel to reduce API downtime 

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.1.6'></a> v1.1.6

**Release Date**: February 21, 2018

#### Features

None

#### Security Fix

* Bump to Golang 1.10

#### Bug Fixes

None

#### Known Issues

None


### <a id='1.1.5'></a> v1.1.5

**Release Date**: February 8, 2018

#### Features
* To enable BOSH add-ons to work, BOSH Backup and Restore (BBR) no longer fails when the release name for a job cannot be found
* Move 'keep-alive' warnings to debug mode

#### Bug Fixes

* Fix issue on machines with unusual permissions set on `/var/vcap/store`

#### Known Issues

None


### <a id='1.1.4'></a> v1.1.4

**Release Date**: December 13, 2017

#### Features
* Improve stdout output
* Ensure that BBR works with scripts added via BOSH add-on

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.1.3'></a> v1.1.3

**Release Date**: October 13, 2017

#### Features
* Improve stdout output

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.1.2'></a> v1.1.2

**Release Date**: October 12, 2017

#### Features
* Improve stdout output

#### Bug Fixes

None

#### Known Issues

None


### <a id='1.1'></a> v1.1

**Release Date**: September 26, 2017

#### Features
* Adds `restore-cleanup`, which can be run after a failed restore to remove artifacts and unlock the deployments being restored.
* Adds support for BOSH Deployments and Directors to lock deployments during the restore process 
and to declare the order that locking is done.

#### Bug Fixes

None

#### Known Issues

None


### <a id='1.0'></a> v1.0 

**Release Date**: August 7, 2017

#### Features

* Enables backup and restore of BOSH Deployments and BOSH Directors. 
BBR uses backup and restore functionality that is packaged in the BOSH Deployment or Director. 

#### Bug Fixes

None

#### Known Issues

None
