---
title: BOSH Backup and Restore Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases

### <a id='1.3'></a> v1.3.1

**Release Date**: November 30, 2018

#### Features

* BBR multi-deployment backup log file names now contain timestamps
  - BBR generates one log file per deployment
  - Users will be able to retain logs even after running BBR multiple times
  - BBR writes the log files in the directory passed in the `--backup-artifact` flag

#### Improvements

* Bumped Golang dependency to the latest patch

### <a id='1.3'></a> v1.3.0

**Release Date**: November 13, 2018

#### Features

* Introduces parallel multi-deployment backup capabilities.
* `bbr` will apply the relevant action to all the BOSH deployments that can be accessed using the provided BOSH credentials.
* The following actions are supported:

	```
	bbr deployment --all-deployments pre-backup-check
	bbr deployment --all-deployments backup
	bbr deployment --all-deployments backup-cleanup
	```

#### Improvements

* Improves support for tunneling using `BOSH_ALL_PROXY` for the interaction between `bbr` and a BOSH Director. For more information, see [Tunneling](https://bosh.io/docs/cli-tunnel/) in the BOSH documentation.
* Adds tunneling support for the `bbr director` commands.

### <a id='1.2'></a> v1.2.8

**Release Date**: September 25, 2018

#### Improvements

* `bbr backup` with `BOSH_ALL_PROXY` was still occasionally failing with `connection reset by peer` errors. This release changes how BBR handles SSH connections, which should make `bbr backup` more stable when used with a SOCKS5 proxy. See the [Pivotal Tracker Story](https://www.pivotaltracker.com/n/projects/1662777/stories/160167687) and [GitHub Issue #21](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore/issues/21).

* BBR commands now print the job name in the drain logs.
	<br><br>
	The old version of the drain logs appeared in the following format: 

	```
	[bbr] XXXX INFO - Copying backup -- 2.6M uncompressed -- from backup-prepare/XXXX...
	```

	The new version of the drain logs appear in the following format:

	```
	[bbr] XXXX INFO - Copying backup -- 2.6M uncompressed -- for job bbr-usage-servicedb on backup-prepare/XXXX...
	```
	<br>
	This should help users understand where backup artifacts are coming from. See the [Pivotal Tracker Story](https://www.pivotaltracker.com/n/projects/1662777/stories/159265175).

#### Bug Fixes

* Backup metadata were wrongly reporting the job index for backup artifacts. 
	<br>
	Consider the example of a multi-master CFCR cluster. The backup artifact is always coming from `master/0` while `master/1` and `master/2` provide no backup artifact. However, previously it was not always reported (in the backup metadata) that the artifact was coming from `master/0`.
* This makes no noticeable difference but it fixes the accuracy of the metadata file. See the [Pivotal Tracker Story](https://www.pivotaltracker.com/n/projects/1662777/stories/160141669).

### <a id='1.2'></a> v1.2.7

**Release Date**: August 15, 2018

#### Features

None

#### Bug Fixes

* **Fixed** support for SSH+SOCKS5 proxy (`BOSH_ALL_PROXY`) to make it more robust -- [story](https://www.pivotaltracker.com/story/show/159619865).
* **Improved** the help text for `bbr deployment` -- [story](https://www.pivotaltracker.com/n/projects/1662777/stories/159111218).
* **Added** support for other `BOSH_*` variables ([story](https://www.pivotaltracker.com/n/projects/1662777/stories/159268069)):
  - `BOSH_CA_CERT`
  - `BOSH_DEPLOYMENT`
  - `BOSH_CLIENT`
  - and `BOSH_ENVIRONMENT`

### <a id='1.2'></a> v1.2.6

**Release Date**: July 27, 2018

#### Features

None

#### Bug Fixes

* `bbr` is now able to talk to BOSH via a SOCKS5 proxy -- [story](https://www.pivotaltracker.com/n/projects/1662777/stories/157779432)

### <a id='1.2'></a> v1.2.4

**Release Date**: June 29, 2018

#### Features

None

#### Bug Fixes

* Ability to run against deployments with Windows VMs
* Built with Go 1.10.3

#### Known Issues

None

### <a id='1.2'></a> v1.2.3

**Release Date**: June 4, 2018

#### Features

None

#### Bug Fixes

Fix issue where BBR fails if a locking dependency is specified but missing.

#### Known Issues

None

### <a id='1.2'></a> v1.2.2

**Release Date**: April 18, 2018

#### Features

None

#### Bug Fixes

Fix ssh issue introduced by calling backup scripts in parallel.

#### Known Issues

None

### <a id='1.2'></a> v1.2.1

**Release Date**: April 9, 2018

#### Features

* Adds `--artifact-path` for backup to enable specifying where the backup artifacts should go 

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.2'></a> v1.2.0

**Release Date**: February 22, 2018

#### Features
* Call lock and unlock scripts in parallel to reduce API downtime 

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.1.6'></a> v1.1.6

**Release Date**: February 21, 2018

#### Features

None

#### Security Fix

* Bump to Golang 1.10

#### Bug Fixes

None

#### Known Issues

None


### <a id='1.1.5'></a> v1.1.5

**Release Date**: February 8, 2018

#### Features
* To enable BOSH add-ons to work, BOSH Backup and Restore (BBR) no longer fails when the release name for a job cannot be found
* Move 'keep-alive' warnings to debug mode

#### Bug Fixes

* Fix issue on machines with unusual permissions set on `/var/vcap/store`

#### Known Issues

None


### <a id='1.1.4'></a> v1.1.4

**Release Date**: December 13, 2017

#### Features
* Improve stdout output
* Ensure that BBR works with scripts added via BOSH add-on

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.1.3'></a> v1.1.3

**Release Date**: October 13, 2017

#### Features
* Improve stdout output

#### Bug Fixes

None

#### Known Issues

None

### <a id='1.1.2'></a> v1.1.2

**Release Date**: October 12, 2017

#### Features
* Improve stdout output

#### Bug Fixes

None

#### Known Issues

None


### <a id='1.1'></a> v1.1

**Release Date**: September 26, 2017

#### Features
* Adds `restore-cleanup`, which can be run after a failed restore to remove artifacts and unlock the deployments being restored.
* Adds support for BOSH Deployments and Directors to lock deployments during the restore process 
and to declare the order that locking is done.

#### Bug Fixes

None

#### Known Issues

None


### <a id='1.0'></a> v1.0 

**Release Date**: August 7, 2017

#### Features

* Enables backup and restore of BOSH Deployments and BOSH Directors. 
BBR uses backup and restore functionality that is packaged in the BOSH Deployment or Director. 

#### Bug Fixes

None

#### Known Issues

None
