---
title: BOSH Backup and Restore Release Notes
owner: Release Engineering
---

## <a id='releases'></a> Releases
### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 17, 2021

#### Maintenance Changes

* Merge branch 'master' of github.com:dlresende/bosh-backup-and-restore
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* [ci] Fix missing task input
* [ci] Replace concourse-time by gitgat-resource
* [ci] Split Github release bits onto its own job
* [ci] Update Homebrew formula after publishing
* [ci] fix promote-release-candidate task
* [ci] fix task inputs
* [ci] release automatically every 3 weeks
* create commit to test ci



### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 17, 2021

#### Maintenance Changes

* Merge branch 'master' of github.com:dlresende/bosh-backup-and-restore
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* [ci] Fix missing task input
* [ci] Replace concourse-time by gitgat-resource
* [ci] Split Github release bits onto its own job
* [ci] Update Homebrew formula after publishing
* [ci] fix promote-release-candidate task
* [ci] fix task inputs
* [ci] release automatically every 3 weeks
* create commit to test ci



### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 17, 2021

#### Maintenance Changes

* Merge branch 'master' of github.com:dlresende/bosh-backup-and-restore
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* [ci] Fix missing task input
* [ci] Replace concourse-time by gitgat-resource
* [ci] Split Github release bits onto its own job
* [ci] Update Homebrew formula after publishing
* [ci] fix promote-release-candidate task
* [ci] fix task inputs
* [ci] release automatically every 3 weeks
* create commit to test ci



### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 17, 2021

#### Maintenance Changes

* Merge branch 'master' of github.com:dlresende/bosh-backup-and-restore
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* [ci] Fix missing task input
* [ci] Replace concourse-time by gitgat-resource
* [ci] Split Github release bits onto its own job
* [ci] Update Homebrew formula after publishing
* [ci] fix promote-release-candidate task
* [ci] fix task inputs
* [ci] release automatically every 3 weeks
* create commit to test ci



### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 17, 2021

#### Maintenance Changes

* Merge branch 'master' of github.com:dlresende/bosh-backup-and-restore
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* [ci] Fix missing task input
* [ci] Replace concourse-time by gitgat-resource
* [ci] Split Github release bits onto its own job
* [ci] Update Homebrew formula after publishing
* [ci] fix task inputs
* [ci] release automatically every 3 weeks
* create commit to test ci



### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 16, 2021

#### Maintenance Changes

* Add CF6 CLI to minimal CI image
* Add gettext-base to be able to use envsubst in tasks
* Add libxml2-utils to the image to be able to use xmllint in tasks
* Bumps github.com/cloudfoundry/bosh-utils from 0.0.271 to 0.0.273.
* Do not ref bosh-backup-and-restore-meta
* Fix "missing inputs: cryogenics-concourse-tasks"
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix set-pipeline job
* Merge pull request #210 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.2
* Merge pull request #212 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.3
* Merge pull request #213 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.4
* Merge pull request #215 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.6
* Merge pull request #218 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.13
* Merge pull request #219 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.265
* Merge pull request #220 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.2
* Merge pull request #221 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.3
* Merge pull request #222 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.4
* Merge pull request #223 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.5
* Merge pull request #224 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.6
* Merge pull request #226 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.7
* Merge pull request #227 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.8
* Merge pull request #228 from cloudfoundry-incubator/178882672-consolidate-ci-tasks
* Merge pull request #229 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.9
* Merge pull request #238 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.15.0
* Merge pull request #240 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.15.0
* Merge pull request #241 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.17
* Merge pull request #243 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.267
* Merge pull request #244 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.18
* Merge pull request #246 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.20
* Merge pull request #248 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.16
* Merge pull request #249 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.270
* Merge pull request #250 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.22
* Merge pull request #251 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.23
* Merge pull request #252 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.24
* Merge pull request #254 from cloudfoundry-incubator/trigger-weekly
* Merge pull request #255 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.16.0
* Merge pull request #256 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.16.0
* Merge pull request #257 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.26
* Merge pull request #258 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.17
* Merge pull request #259 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.27
* Merge pull request #261 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.29
* Merge pull request #262 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.271
* Merge pull request #263 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.30
* Merge pull request #264 from cloudfoundry-incubator/upgrade-cfcli-v7.3
* Merge pull request #265 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.31
* Merge pull request #268 from cloudfoundry-incubator/upgrade-bosh-utils-0.0.273
* Merge pull request #271 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.36
* Merge pull request #272 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.19
* Merge pull request #273 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.37
* Merge pull request #276 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.40
* Merge pull request #277 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.274
* Merge pull request #279 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.41
* Merge pull request #280 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.42
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* Quieten wget when building the minimal CI image
* Remove all refs to bosh-backup-and-restore-meta
* Remove unused task input
* Trigger bbr-pcf-pipeline-tasks build every week
* Update BBL to v8.4.44
* Update golang in backup-and-restore-minimal to v1.16.6
* Update golang in backup-and-restore-minimal to v1.16.7
* Update golang in backup-and-restore-minimal to v1.17
* Update golang in backup-and-restore-minimal to v1.17.1
* Upgrade cf-cli from 7.2 to 7.3
* Use Vault key instead of git repo one
* Use new task location
* Use private key from Vault
* [ci] rename git resource
* [ci] replace cryogenics-meta by cryogenics-ci repo
* go mod tidy

#### Dependencies

* **aws-sdk-go:** Updated to v1.40.17.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
* **bosh-utils:** Updated to v0.0.274.<br>For more information, see [bosh-utils](https://github.com/cloudfoundry/bosh-utils).
* **socks5-proxy:** Updated to v0.2.19.<br>For more information, see [socks5-proxy](https://github.com/cloudfoundry/socks5-proxy).
* **gomega:** Updated to v1.16.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).


### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 16, 2021

#### Maintenance Changes

* Add CF6 CLI to minimal CI image
* Add gettext-base to be able to use envsubst in tasks
* Add libxml2-utils to the image to be able to use xmllint in tasks
* Bumps github.com/cloudfoundry/bosh-utils from 0.0.271 to 0.0.273.
* Do not ref bosh-backup-and-restore-meta
* Fix "missing inputs: cryogenics-concourse-tasks"
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix set-pipeline job
* Merge pull request #210 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.2
* Merge pull request #212 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.3
* Merge pull request #213 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.4
* Merge pull request #215 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.6
* Merge pull request #218 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.13
* Merge pull request #219 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.265
* Merge pull request #220 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.2
* Merge pull request #221 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.3
* Merge pull request #222 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.4
* Merge pull request #223 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.5
* Merge pull request #224 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.6
* Merge pull request #226 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.7
* Merge pull request #227 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.8
* Merge pull request #228 from cloudfoundry-incubator/178882672-consolidate-ci-tasks
* Merge pull request #229 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.9
* Merge pull request #238 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.15.0
* Merge pull request #240 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.15.0
* Merge pull request #241 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.17
* Merge pull request #243 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.267
* Merge pull request #244 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.18
* Merge pull request #246 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.20
* Merge pull request #248 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.16
* Merge pull request #249 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.270
* Merge pull request #250 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.22
* Merge pull request #251 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.23
* Merge pull request #252 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.24
* Merge pull request #254 from cloudfoundry-incubator/trigger-weekly
* Merge pull request #255 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.16.0
* Merge pull request #256 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.16.0
* Merge pull request #257 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.26
* Merge pull request #258 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.17
* Merge pull request #259 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.27
* Merge pull request #261 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.29
* Merge pull request #262 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.271
* Merge pull request #263 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.30
* Merge pull request #264 from cloudfoundry-incubator/upgrade-cfcli-v7.3
* Merge pull request #265 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.31
* Merge pull request #268 from cloudfoundry-incubator/upgrade-bosh-utils-0.0.273
* Merge pull request #271 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.36
* Merge pull request #272 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.19
* Merge pull request #273 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.37
* Merge pull request #276 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.40
* Merge pull request #277 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.274
* Merge pull request #279 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.41
* Merge pull request #280 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.42
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* Quieten wget when building the minimal CI image
* Remove all refs to bosh-backup-and-restore-meta
* Remove unused task input
* Trigger bbr-pcf-pipeline-tasks build every week
* Update BBL to v8.4.44
* Update golang in backup-and-restore-minimal to v1.16.6
* Update golang in backup-and-restore-minimal to v1.16.7
* Update golang in backup-and-restore-minimal to v1.17
* Update golang in backup-and-restore-minimal to v1.17.1
* Upgrade cf-cli from 7.2 to 7.3
* Use Vault key instead of git repo one
* Use new task location
* Use private key from Vault
* [ci] rename git resource
* [ci] replace cryogenics-meta by cryogenics-ci repo
* go mod tidy

#### Dependencies

* **aws-sdk-go:** Updated to v1.40.17.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
* **bosh-utils:** Updated to v0.0.274.<br>For more information, see [bosh-utils](https://github.com/cloudfoundry/bosh-utils).
* **socks5-proxy:** Updated to v0.2.19.<br>For more information, see [socks5-proxy](https://github.com/cloudfoundry/socks5-proxy).
* **gomega:** Updated to v1.16.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).


### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 16, 2021

#### Maintenance Changes

* Add CF6 CLI to minimal CI image
* Add gettext-base to be able to use envsubst in tasks
* Add libxml2-utils to the image to be able to use xmllint in tasks
* Bumps github.com/cloudfoundry/bosh-utils from 0.0.271 to 0.0.273.
* Do not ref bosh-backup-and-restore-meta
* Fix "missing inputs: cryogenics-concourse-tasks"
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix set-pipeline job
* Merge pull request #210 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.2
* Merge pull request #212 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.3
* Merge pull request #213 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.4
* Merge pull request #215 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.6
* Merge pull request #218 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.13
* Merge pull request #219 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.265
* Merge pull request #220 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.2
* Merge pull request #221 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.3
* Merge pull request #222 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.4
* Merge pull request #223 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.5
* Merge pull request #224 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.6
* Merge pull request #226 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.7
* Merge pull request #227 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.8
* Merge pull request #228 from cloudfoundry-incubator/178882672-consolidate-ci-tasks
* Merge pull request #229 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.9
* Merge pull request #238 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.15.0
* Merge pull request #240 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.15.0
* Merge pull request #241 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.17
* Merge pull request #243 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.267
* Merge pull request #244 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.18
* Merge pull request #246 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.20
* Merge pull request #248 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.16
* Merge pull request #249 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.270
* Merge pull request #250 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.22
* Merge pull request #251 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.23
* Merge pull request #252 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.24
* Merge pull request #254 from cloudfoundry-incubator/trigger-weekly
* Merge pull request #255 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.16.0
* Merge pull request #256 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.16.0
* Merge pull request #257 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.26
* Merge pull request #258 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.17
* Merge pull request #259 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.27
* Merge pull request #261 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.29
* Merge pull request #262 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.271
* Merge pull request #263 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.30
* Merge pull request #264 from cloudfoundry-incubator/upgrade-cfcli-v7.3
* Merge pull request #265 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.31
* Merge pull request #268 from cloudfoundry-incubator/upgrade-bosh-utils-0.0.273
* Merge pull request #271 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.36
* Merge pull request #272 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.19
* Merge pull request #273 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.37
* Merge pull request #276 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.40
* Merge pull request #277 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.274
* Merge pull request #279 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.41
* Merge pull request #280 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.42
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* Quieten wget when building the minimal CI image
* Remove all refs to bosh-backup-and-restore-meta
* Remove unused task input
* Trigger bbr-pcf-pipeline-tasks build every week
* Update BBL to v8.4.44
* Update golang in backup-and-restore-minimal to v1.16.6
* Update golang in backup-and-restore-minimal to v1.16.7
* Update golang in backup-and-restore-minimal to v1.17
* Update golang in backup-and-restore-minimal to v1.17.1
* Upgrade cf-cli from 7.2 to 7.3
* Use Vault key instead of git repo one
* Use new task location
* Use private key from Vault
* [ci] rename git resource
* [ci] replace cryogenics-meta by cryogenics-ci repo
* go mod tidy

#### Dependencies

* **aws-sdk-go:** Updated to v1.40.17.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
* **bosh-utils:** Updated to v0.0.274.<br>For more information, see [bosh-utils](https://github.com/cloudfoundry/bosh-utils).
* **socks5-proxy:** Updated to v0.2.19.<br>For more information, see [socks5-proxy](https://github.com/cloudfoundry/socks5-proxy).
* **gomega:** Updated to v1.16.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).


### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 16, 2021

#### Maintenance Changes

* Add CF6 CLI to minimal CI image
* Add gettext-base to be able to use envsubst in tasks
* Add libxml2-utils to the image to be able to use xmllint in tasks
* Bumps github.com/cloudfoundry/bosh-utils from 0.0.271 to 0.0.273.
* Do not ref bosh-backup-and-restore-meta
* Fix "missing inputs: cryogenics-concourse-tasks"
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix set-pipeline job
* Merge pull request #210 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.2
* Merge pull request #212 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.3
* Merge pull request #213 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.4
* Merge pull request #215 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.6
* Merge pull request #218 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.13
* Merge pull request #219 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.265
* Merge pull request #220 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.2
* Merge pull request #221 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.3
* Merge pull request #222 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.4
* Merge pull request #223 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.5
* Merge pull request #224 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.6
* Merge pull request #226 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.7
* Merge pull request #227 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.8
* Merge pull request #228 from cloudfoundry-incubator/178882672-consolidate-ci-tasks
* Merge pull request #229 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.9
* Merge pull request #238 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.15.0
* Merge pull request #240 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.15.0
* Merge pull request #241 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.17
* Merge pull request #243 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.267
* Merge pull request #244 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.18
* Merge pull request #246 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.20
* Merge pull request #248 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.16
* Merge pull request #249 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.270
* Merge pull request #250 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.22
* Merge pull request #251 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.23
* Merge pull request #252 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.24
* Merge pull request #254 from cloudfoundry-incubator/trigger-weekly
* Merge pull request #255 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.16.0
* Merge pull request #256 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.16.0
* Merge pull request #257 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.26
* Merge pull request #258 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.17
* Merge pull request #259 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.27
* Merge pull request #261 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.29
* Merge pull request #262 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.271
* Merge pull request #263 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.30
* Merge pull request #264 from cloudfoundry-incubator/upgrade-cfcli-v7.3
* Merge pull request #265 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.31
* Merge pull request #268 from cloudfoundry-incubator/upgrade-bosh-utils-0.0.273
* Merge pull request #271 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.36
* Merge pull request #272 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.19
* Merge pull request #273 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.37
* Merge pull request #276 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.40
* Merge pull request #277 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.274
* Merge pull request #279 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.41
* Merge pull request #280 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.42
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* Quieten wget when building the minimal CI image
* Remove all refs to bosh-backup-and-restore-meta
* Remove unused task input
* Trigger bbr-pcf-pipeline-tasks build every week
* Update BBL to v8.4.44
* Update golang in backup-and-restore-minimal to v1.16.6
* Update golang in backup-and-restore-minimal to v1.16.7
* Update golang in backup-and-restore-minimal to v1.17
* Update golang in backup-and-restore-minimal to v1.17.1
* Upgrade cf-cli from 7.2 to 7.3
* Use Vault key instead of git repo one
* Use new task location
* Use private key from Vault
* [ci] rename git resource
* [ci] replace cryogenics-meta by cryogenics-ci repo
* go mod tidy

#### Dependencies

* **aws-sdk-go:** Updated to v1.40.17.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
* **bosh-utils:** Updated to v0.0.274.<br>For more information, see [bosh-utils](https://github.com/cloudfoundry/bosh-utils).
* **socks5-proxy:** Updated to v0.2.19.<br>For more information, see [socks5-proxy](https://github.com/cloudfoundry/socks5-proxy).
* **gomega:** Updated to v1.16.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).


### <a id='1-9-12'></a> v1.9.12

**Release Date**: September 16, 2021

#### Maintenance Changes

* Add CF6 CLI to minimal CI image
* Add gettext-base to be able to use envsubst in tasks
* Add libxml2-utils to the image to be able to use xmllint in tasks
* Bumps github.com/cloudfoundry/bosh-utils from 0.0.271 to 0.0.273.
* Do not ref bosh-backup-and-restore-meta
* Fix "missing inputs: cryogenics-concourse-tasks"
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix 'missing inputs: cryogenics-concourse-tasks'
* Fix set-pipeline job
* Merge pull request #210 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.2
* Merge pull request #212 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.3
* Merge pull request #213 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.4
* Merge pull request #215 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.39.6
* Merge pull request #218 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.13
* Merge pull request #219 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.265
* Merge pull request #220 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.2
* Merge pull request #221 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.3
* Merge pull request #222 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.4
* Merge pull request #223 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.5
* Merge pull request #224 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.6
* Merge pull request #226 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.7
* Merge pull request #227 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.8
* Merge pull request #228 from cloudfoundry-incubator/178882672-consolidate-ci-tasks
* Merge pull request #229 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.9
* Merge pull request #238 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.15.0
* Merge pull request #240 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.15.0
* Merge pull request #241 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.17
* Merge pull request #243 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.267
* Merge pull request #244 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.18
* Merge pull request #246 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.20
* Merge pull request #248 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.16
* Merge pull request #249 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.270
* Merge pull request #250 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.22
* Merge pull request #251 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.23
* Merge pull request #252 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.24
* Merge pull request #254 from cloudfoundry-incubator/trigger-weekly
* Merge pull request #255 from cloudfoundry-incubator/dependabot/go_modules/github.com/onsi/gomega-1.16.0
* Merge pull request #256 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/onsi/gomega-1.16.0
* Merge pull request #257 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.26
* Merge pull request #258 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.17
* Merge pull request #259 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.27
* Merge pull request #261 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.29
* Merge pull request #262 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.271
* Merge pull request #263 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.30
* Merge pull request #264 from cloudfoundry-incubator/upgrade-cfcli-v7.3
* Merge pull request #265 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.31
* Merge pull request #268 from cloudfoundry-incubator/upgrade-bosh-utils-0.0.273
* Merge pull request #271 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.36
* Merge pull request #272 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/socks5-proxy-0.2.19
* Merge pull request #273 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.37
* Merge pull request #276 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.40
* Merge pull request #277 from cloudfoundry-incubator/dependabot/go_modules/github.com/cloudfoundry/bosh-utils-0.0.274
* Merge pull request #279 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.41
* Merge pull request #280 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.42
* Merge pull request #281 from cloudfoundry-incubator/dependabot/go_modules/s3-config-validator/src/github.com/aws/aws-sdk-go-1.40.43
* Quieten wget when building the minimal CI image
* Remove all refs to bosh-backup-and-restore-meta
* Remove unused task input
* Trigger bbr-pcf-pipeline-tasks build every week
* Update BBL to v8.4.44
* Update golang in backup-and-restore-minimal to v1.16.6
* Update golang in backup-and-restore-minimal to v1.16.7
* Update golang in backup-and-restore-minimal to v1.17
* Update golang in backup-and-restore-minimal to v1.17.1
* Upgrade cf-cli from 7.2 to 7.3
* Use Vault key instead of git repo one
* Use new task location
* Use private key from Vault
* [ci] rename git resource
* [ci] replace cryogenics-meta by cryogenics-ci repo
* go mod tidy

#### Dependencies

* **aws-sdk-go:** Updated to v1.40.17.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
* **bosh-utils:** Updated to v0.0.274.<br>For more information, see [bosh-utils](https://github.com/cloudfoundry/bosh-utils).
* **socks5-proxy:** Updated to v0.2.19.<br>For more information, see [socks5-proxy](https://github.com/cloudfoundry/socks5-proxy).
* **gomega:** Updated to v1.16.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).



### <a id='1-9-11'></a> v1.9.11

**Release Date**: July 9, 2021

#### Maintenance Changes

* **Various technical improvements:** These include updates to Continuous Integration.

#### Dependencies

* **aws-sdk-go:** Updated to v1.39.2.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go) in GitHub.
* **bosh-utils:** Updated to v0.0.264.<br>For more information, see [bosh-utils](https://github.com/cloudfoundry/bosh-utils) in GitHub.
* **gomega:** Updated to v1.14.0.<br>For more information, see [gomega](https://github.com/onsi/gomega) in GitHub.


### <a id='1-9-10'></a> v1.9.10

**Release Date**: July 8, 2021

#### Maintenance Changes

* **Various technical improvements:** These include updates to Continuous Integration.

#### Dependencies

* **aws-sdk-go:** Updated to v1.39.1.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go) in GitHub.
* **socks5-proxy:** Updated to v0.2.12.<br>For more information, see [socks5-proxy](https://github.com/cloudfoundry/socks5-proxy) in GitHub.
* **gomega:** Updated to v1.14.0.<br>For more information, see [gomega](https://github.com/onsi/gomega) in GitHub.

### <a id='1-9-9'></a> v1.9.9

**Release Date**: July 7, 2021

#### Maintenance Changes

* **Various technical improvements:** These include updates to Continuous Integration.

#### Dependencies

* **aws-sdk-go:** Updated to v1.39.0.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go) in GitHub.

### <a id='1-9-8'></a> v1.9.8

**Release Date**: July 7, 2021

#### Maintenance Changes

* **Various internal improvements:** These include updates to READMEs and Continuous Integration.

#### Dependencies

* **aws-sdk-go:** Updated to v1.38.70.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go) in GitHub.
* **bosh-utils:** Updated to v0.0.263.<br>For more information, see [bosh-utils](https://github.com/cloudfoundry/bosh-utils) in GitHub.
* **socks5-proxy:** Updated to v0.2.9.<br>For more information, see [socks5-proxy](https://github.com/cloudfoundry/socks5-proxy) in GitHub.
* **ginkgo:** Updated to v1.16.4.<br>For more information, see [ginkgo](https://github.com/onsi/ginkgo) in GitHub.
* **gomega:** Updated to v1.13.0.<br>For more information, see [gomega](https://github.com/onsi/gomega) in GitHub.

### <a id='1-9-7'></a> v1.9.7

**Release Date**: April 20, 2021

#### Maintenance Changes

* **aws-sdk-go:** Updated to v1.38.21.
For more information, see the [aws-sdk-go](https://github.com/aws/aws-sdk-go) repository in GitHub.

* **socks5-proxy:** Updated to v0.2.1.
For more information, see the [socks5-proxy](https://github.com/cloudfoundry/socks5-proxy) repository in GitHub.

* **ginkgo:** Updated to v1.16.1.
For more information, see the [gingko](https://github.com/onsi/ginkgo) repository in GitHub.


### <a id='1-9-6'></a> v1.9.6

**Release Date**: April 5, 2021

#### Maintenance Changes

* **aws-sdk-go:** Updated to v1.38.12.
For more information, see the [aws-sdk-go](https://github.com/aws/aws-sdk-go) repository in GitHub.

* **counterfeiter:** Updated to v6.4.1.
For more information, see the [counterfeiter](https://github.com/maxbrunsfeld/counterfeiter)
repository in GitHub.

* **gingko:** Updated to v1.16.0.
For more information, see the [gingko](https://github.com/onsi/ginkgo) repository in GitHub.


### <a id='1-9-5'></a> v1.9.5

**Release Date**: March 22, 2021

#### Resolved Issues

* **BBR version command:** The `bbr version` command now returns a valid Semver version number.

### <a id='1-9-4'></a> v1.9.4

**Release Date**: March 19, 2021

#### Improvements

* **gomega:** Updated to v1.11.0.
For more information, see [gomega](https://github.com/onsi/gomega) in GitHub.
* **ginkgo:** Updated to v1.15.1.
For more information, see [ginkgo](https://github.com/onsi/ginkgo) in GitHub.

#### Known Issues

* **BBR version command:** The `bbr version` command does not return a valid Semver version number.
This might cause pipelines to fail.

### <a id='1-9-1'></a> v1.9.1

**Release Date**: January 13, 2021

#### Improvements

* **gomega:** Updated to v1.10.4.
For more information, see [gomega](https://github.com/onsi/gomega) in GitHub.
* **gopkg.in:** Updated to v2.4.0.
For more information, see [gopkg.in/yaml.v2](https://gopkg.in/yaml.v2).

### <a id='1-9-0'></a> v1.9.0

**Release Date**: December 7, 2020

#### Features

* **New experimental flag:** You can use the `--unsafe-lock-free` flag
with the backup command to create a backup artifact without running the pre and post
lock scripts for component databases.
<p class="note warning">
  <strong>Warning:</strong> Using this flag can result in an inconsistent backup artifact.
</p>

### <a id='1-8-1'></a> v1.8.1

**Release Date**: October 23, 2020

#### Features

* **New error message:** There is now a specific error message if the network drops during SSH.
* **S3 configuration validator:** The source code has been added.

#### Fixes

* **Updates all dependencies.**


### <a id='1-8-0'></a> v1.8.0

**Release Date**: September 22, 2020

#### Features

* **BOSH Backup and Restore (BBR) S3 configuration validator:**
This version introduces the BBR S3 configuration validator.
You can install this tool on your BBR VM to test your configuration and connectivity to
an external blobstore.
For installation and usage instructions, see the [BBR S3 bucket configuration validator README](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore/blob/master/s3-config-validator/README.md#bbr-s3-bucket-configuration-validator)
on GitHub.

### <a id='1-7-2'></a> v1.7.2

**Release Date**: March 4, 2020

#### Security Fix

* Updated dependancies to include a security fix.

### <a id='1-7-0'></a> v1.7.0

**Release Date**: February 3, 2020

#### Features

* Added an output log message for the remaining byte percentage of restore files when restoring your deployment.

### <a id='1-6-0'></a> v1.6.0

**Release Date**: January 27, 2020

#### Features

* Added an output log entry for the remaining byte percentage of backup files
 when backing up your deployment.

#### Improvements

* Updated golang to 1.13

### <a id='1-5-2'></a> v1.5.2

**Release Date**: August 29, 2019

#### Features

* Added short version of the `--artifact-path` flag: `-a`

#### Improvements

* BBR does not log the backup as successful if draining fails
* Updated golang crypto and golang sys libraries

### <a id='1-5-1'></a> v1.5.1

**Release Date**: May 3, 2019

#### Features

Added the ability to gracefully skip BOSH jobs. To use this feature, add the following property to the `YOUR-JOB-DIRECTORY/bbr/bin/metadata` file:

```yaml
skip_bbr_scripts: true
```

#### Improvements

Improved error messages when BBR fails while processing a `metadata` file.
Previously, error messages were unnecessarily repeated.

#### Resolved Issues

If the SSH key passed through `BOSH_ALL_PROXY` is invalid, `bbr` does not hang.

### <a id='1-5-0'></a> v1.5.0

**Release Date**: March 27, 2019

#### Features

* Release authors can now specify job dependencies for BOSH Director jobs using the `metadata` hook. For example:

	  ```
	  #!/usr/bin/env bash

	  echo "---
	  restore_should_be_locked_before:
	  - job_name: uaa
	    release: uaa"
	  ```

* Release authors can now tell BBR to backup from one instance of a job (bootstrap node) and restore to all instances by using the BOSH property `bbr.backup_one_restore_all`.

### Deprecation

* **Backwards incompatible:** Dropped support for `backup_name` and `restore_name` properties in the `metadata` hook.
  - **Action required:** if you use these properties, see if you can use the `bbr.backup_one_restore_all` BOSH property to replace this functionality (see https://github.com/cloudfoundry-incubator/cfcr-etcd-release/pull/11 as an example).

### <a id='1.4'></a> v1.4.0

**Release Date**: February 21, 2019

#### Features

* Release authors can now check the BBR version by testing the `$BBR_VERSION` variable in `metadata`. For example:

	  ```
	  #!/usr/bin/env bash
	  if [ -z "$BBR_VERSION" ]; then
	    # This message will be printed if using BBR v1.3.x or earlier
	    >&2 echo "BBR_VERSION is not set, unsupported bbr cli, I am out of here"
	    exit 1
	  fi

	  # This message prints if using BBR v1.4 or later.
	  echo "I am ok"
	  ```

* Job dependencies are now supported for `bbr director backup` and `bbr director restore`. Earlier versions of BBR fail when a BOSH Director job declares a dependency.

#### Improvements

* A reminder to run `bbr backup-cleanup` prints if the pre-backup check fails.
	<br><br>
	This can happen if you try to run `bbr backup`, it fails, and then you try to run the command again without cleaning up.
	<br><br>
	Before this change, the reminder to run `bbr backup-cleanup` only printed once, after the first failed backup.

* The size of backup artifacts that are transferred to the BOSH deployment now print during restore. Prior to this change, the artifact size was only printed during backup.

### <a id='1.3'></a> v1.3.2

**Release Date**: January 2, 2019

#### Improvements

* Log files created when using BBR to do a multi-deployment backup can now be read while BBR is running. To do so:
	1. To run BBR in the background, run:

		```
		bbr deployment --all-deployments backup &
		```
	1. To monitor BBR's progress by reading the log files while BBR is running, run:

		```
		tail *.log
		```

### <a id='1.3'></a> v1.3.1

**Release Date**: November 30, 2018

#### Features

* BBR multi-deployment backup log file names now contain timestamps.
  - BBR generates one log file per deployment.
  - Users can retain logs even after running BBR multiple times.
  - BBR writes the log files in the directory passed in the `--backup-artifact` flag.

#### Improvements

* Updated golang dependency to the latest patch

### <a id='1.3'></a> v1.3.0

**Release Date**: November 13, 2018

#### Features

* Introduces parallel multi-deployment backup capabilities.
* `bbr` applies the relevant action to all the BOSH deployments that can be accessed using the provided BOSH credentials.
* The following actions are supported:

	```
	bbr deployment --all-deployments pre-backup-check
	bbr deployment --all-deployments backup
	bbr deployment --all-deployments backup-cleanup
	```

#### Improvements

* Improves support for tunneling using `BOSH_ALL_PROXY` for the interaction between `bbr` and a BOSH Director. For more information, see [Tunneling](https://bosh.io/docs/cli-tunnel/) in the BOSH documentation.
* Adds tunneling support for the `bbr director` commands.

### <a id='1.2'></a> v1.2.8

**Release Date**: September 25, 2018

#### Improvements

* `bbr backup` with `BOSH_ALL_PROXY` was still occasionally failing with `connection reset by peer` errors. This release changes how BBR handles SSH connections, which should make `bbr backup` more stable when used with a SOCKS5 proxy. See the [Pivotal Tracker Story](https://www.pivotaltracker.com/n/projects/1662777/stories/160167687) and [Issue #21](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore/issues/21) in GitHub.

* BBR commands now print the job name in the drain logs.
	<br><br>
	The old version of the drain logs appeared in the following format:

	```
	[bbr] XXXX INFO - Copying backup -- 2.6M uncompressed -- from backup-prepare/XXXX...
	```

	The new version of the drain logs appear in the following format:

	```
	[bbr] XXXX INFO - Copying backup -- 2.6M uncompressed -- for job bbr-usage-servicedb on backup-prepare/XXXX...
	```
	<br>
	This should help users understand where backup artifacts are coming from. See the [Pivotal Tracker Story](https://www.pivotaltracker.com/n/projects/1662777/stories/159265175).

#### Resolved Issues

* Backup metadata were wrongly reporting the job index for backup artifacts.
	<br>
	Consider the example of a multi-master CFCR cluster. The backup artifact is always coming from `master/0` while `master/1` and `master/2` provide no backup artifact. However, previously it was not always reported (in the backup metadata) that the artifact was coming from `master/0`.
* This makes no noticeable difference but it fixes the accuracy of the metadata file. See the [Pivotal Tracker Story](https://www.pivotaltracker.com/n/projects/1662777/stories/160141669).

### <a id='1.2'></a> v1.2.7

**Release Date**: August 15, 2018

#### Features

None

#### Resolved Issues

* **Fixed** support for SSH+SOCKS5 proxy (`BOSH_ALL_PROXY`) to make it more robust -- [story](https://www.pivotaltracker.com/story/show/159619865).
* **Improved** the help text for `bbr deployment` -- [story](https://www.pivotaltracker.com/n/projects/1662777/stories/159111218).
* **Added** support for other `BOSH_*` variables ([story](https://www.pivotaltracker.com/n/projects/1662777/stories/159268069)):
  - `BOSH_CA_CERT`
  - `BOSH_DEPLOYMENT`
  - `BOSH_CLIENT`
  - and `BOSH_ENVIRONMENT`

### <a id='1.2'></a> v1.2.6

**Release Date**: July 27, 2018

#### Features

None

#### Resolved Issues

* `bbr` is now able to talk to BOSH through a SOCKS5 proxy -- [story](https://www.pivotaltracker.com/n/projects/1662777/stories/157779432)

### <a id='1.2'></a> v1.2.4

**Release Date**: June 29, 2018

#### Features

None

#### Resolved Issues

* Ability to run against deployments with Windows VMs
* Built with Go v1.10.3

#### Known Issues

None

### <a id='1.2'></a> v1.2.3

**Release Date**: June 4, 2018

#### Features

None

#### Resolved Issues

Fix issue where BBR fails if a locking dependency is specified but missing.

#### Known Issues

None

### <a id='1.2'></a> v1.2.2

**Release Date**: April 18, 2018

#### Features

None

#### Resolved Issues

Fix SSH issue introduced by calling backup scripts in parallel.

#### Known Issues

None

### <a id='1.2'></a> v1.2.1

**Release Date**: April 9, 2018

#### Features

* Adds `--artifact-path` for backup to enable specifying where the backup artifacts should go

#### Resolved Issues

None

#### Known Issues

None

### <a id='1.2'></a> v1.2.0

**Release Date**: February 22, 2018

#### Features

* Call lock and unlock scripts in parallel to reduce API downtime

#### Resolved Issues

None

#### Known Issues

None

### <a id='1.1.6'></a> v1.1.6

**Release Date**: February 21, 2018

#### Features

None

#### Security Fix

* Updates to golang v1.10

#### Resolved Issues

None

#### Known Issues

None


### <a id='1.1.5'></a> v1.1.5

**Release Date**: February 8, 2018

#### Features
* To enable BOSH add-ons to work, BOSH Backup and Restore (BBR) no longer fails when the release name for a job cannot be found
* Move `keepalive` warnings to debug mode

#### Resolved Issues

* Fix issue on machines with unusual permissions set on `/var/vcap/store`

#### Known Issues

None


### <a id='1.1.4'></a> v1.1.4

**Release Date**: December 13, 2017

#### Features
* Improve stdout output
* Ensure that BBR works with scripts added through BOSH add-on

#### Resolved Issues

None

#### Known Issues

None

### <a id='1.1.3'></a> v1.1.3

**Release Date**: October 13, 2017

#### Features
* Improve stdout output

#### Resolved Issues

None

#### Known Issues

None

### <a id='1.1.2'></a> v1.1.2

**Release Date**: October 12, 2017

#### Features
* Improve stdout output

#### Resolved Issues

None

#### Known Issues

None


### <a id='1.1'></a> v1.1

**Release Date**: September 26, 2017

#### Features
* Adds `restore-cleanup`, which can be run after a failed restore to remove artifacts and unlock the deployments being restored.
* Adds support for BOSH Deployments and Directors to lock deployments during the restore process
and to declare the order that locking is done.

#### Resolved Issues

None

#### Known Issues

None


### <a id='1.0'></a> v1.0

**Release Date**: August 7, 2017

#### Features

* Enables backup and restore of BOSH Deployments and BOSH Directors.
BBR uses backup and restore functionality that is packaged in the BOSH Deployment or Director.

#### Resolved Issues

None

#### Known Issues

None
