---
title: Configuring Cloud Foundry for BOSH Backup and Restore
owner: BBR
---

This topic describes the configuration you need for your Cloud Foundry (CF) deployment to work with BOSH Backup and Restore (BBR).

This topic assumes that you are using
[cf-deployment](https://github.com/cloudfoundry/cf-deployment) with ops files
for your Cloud Foundry deployment.

If you do not use ops files for customization, you can still customize your
Cloud Foundry to use BBR. Examine the contents of the ops files on this page,
and use them as a guide to customize your deployment manifest directly.

<div class="note warning">
  <strong>WARNING</strong>:
  <ul>
    <li><strong>Backup artifacts can contain secrets.</strong> Secure backup artifacts with encryption or by other means.</li>
    <li><strong>The restore is a destructive operation.</strong> BBR is designed to restore CF after a disaster.
        If it fails, the environment can be left in an unusable state and require re-provisioning.
        For the generic method of restoring a deployment, see <a href="restore.html">Restoring with BOSH Backup and Restore</a>.</li>
    <li><strong>Developers are unable to push apps for a few minutes during backup and restore.</strong>
        This is because the Cloud Controller API (CC API) stops sending and receiving calls
        between the <code>pre-backup-lock</code> and <code>post-backup-unlock</code> stages of the process.</li>
    <li><strong>BBR does not back up any service data.</strong>
        Back up Service data, such as Redis or RabbitMQ data, separately.</li>
  </ul>
</div>

## <a id='configure-cf'></a>Supported CF Configurations

To enable backup and restore for your `cf-deployment`, deploy it with the
[enable-backup-restore.yml](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/backup-and-restore/enable-backup-restore.yml) ops file. This
enables BBR backup and restore for default CF components.

To enable BBR backup and restore for different configurations you must also use the appropriate backup and restore ops files as shown in this table:

| Configuration                                                                                                                                             | Configuration Ops File                  | Backup and Restore Ops File                                                                                                                                                    |
|:----------------------------------------------------------------------------------------------------------------------------------------------------------|:----------------------------------------|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| A versioned S3-compatible external blobstore. For instructions, see [S3-Compatible Versioned Blobstores](external-blobstores.html#s3-versioned).          | `use-s3-blobstore.yml`                  | [`enable-backup-restore-s3-versioned.yml`](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/backup-and-restore/enable-backup-restore-s3-versioned.yml)     |
| An unversioned S3-compatible external blobstore. For instructions, see [S3-Compatible Unversioned Blobstores](external-blobstores.html#s3-unversioned).   | `use-s3-blobstore.yml`                  | [`enable-backup-restore-s3-unversioned.yml`](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/backup-and-restore/enable-backup-restore-s3-unversioned.yml) |
| An Azure blobstore with soft delete enabled. For instructions, see [Azure Blobstores](external-blobstores.html#azure).                                    | `use-azure-blobstore.yml`               | [`enable-backup-restore-azure.yml`](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/backup-and-restore/enable-backup-restore-azure.yml)                   |
| A Google Cloud Storage external blobstore with versioning enabled. For instructions, see [Google Cloud Storage Blobstores](external-blobstores.html#gcs). | `use-gcs-blobstore-service-account.yml` | [`enable-backup-restore-gcs.yml`](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/backup-and-restore/enable-backup-restore-gcs.yml)                       |
| A <a href="#supported-external-databases">supported external database</a>                                                                                 | `use-external-dbs.yml`                  | No BBR ops file required                                                                                                                                                       |
| An NFS broker and volume driver for volume support                                                                                                        | `enable-nfs-volume-service.yml`         | [`enable-backup-restore-nfs-broker.yml`](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/backup-and-restore/enable-backup-restore-nfs-broker.yml)         |
| Use CredHub for service credentials (Experimental)                                                                                                        | `secure-service-credentials.yml`        | [`enable-backup-restore-credhub.yml`](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/backup-and-restore/enable-backup-restore-credhub.yml)               |

BBR can communicate with external blobstores and databases over TLS if they are configured accordingly.

### <a id='supported-external-databases'></a>Supported External Databases

Cloud Foundry components use the backup and restore SDK to interface with databases for backup and restore.
The backup and restore SDK supports the following database versions:

| Name     | Version |
|:---------|:--------|
| MariaDB  | 10.1.x  |
| MySQL    | 5.5.x   |
| MySQL    | 5.6.x   |
| MySQL    | 5.7.x   |
| Postgres | 9.4.x   |
| Postgres | 9.6.x   |


## <a id="order"></a> Apply Ops Files in the Correct Order

Select the ops files you need and apply them in the following order:

| Order                            | Ops Files                                                                                                                                                                                                                                      |
|:---------------------------------|:-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| CF Configuration                 | `enable-backup-restore.yml` and any of `use-s3-blobstore.yml`, `use-azure-blobstore.yml`, `use-gcs-blobstore-service-account.yml`, `use-external-dbs.yml`, `enable-nfs-volume-service.yml`, `secure-service-credentials.yml`                   |
| Backup and Restore Configuration | Any of `enable-backup-restore-s3-versioned.yml` or `enable-backup-restore-s3-unversioned.yml`, `enable-backup-restore-azure.yml`, `enable-backup-restore-gcs.yml`, `enable-backup-restore-nfs-broker.yml`, `enable-backup-restore-credhub.yml` |

<p class="note"><strong>Note</strong>: This is the <em>relative</em> order.
You do not have to apply all the operation files listed above and you can apply other ops files in between.
</p>

## <a id='process'></a> Next Steps

After you have configured Cloud Foundry to be compatible with BBR, you can back up and restore Cloud Foundry.

Follow the procedures in the [Back Up a BOSH Deployment](backup.html#back-up-deployment) section of _Backing Up with BOSH Backup and Restore_ and the [Restore a BOSH Deployment](restore.html#restore-deployment) section of _Restoring with BOSH Backup and Restore_.

At minimum, run the pre-backup check against your Cloud Foundry deployment by following the first two steps of the [Back Up a BOSH Deployment](backup.html#back-up-deployment) section of _Backing Up with BOSH Backup_. This lists the scripts that run during a backup and the order in which they are applied.
