---
title: Configuring Cloud Foundry for BOSH Backup and Restore
owner: BBR
---

This topic describes the configuration you need for your Cloud Foundry deployment to work with BOSH Backup and Restore (BBR).

This topic assumes the use of ops files to customize your Cloud Foundry deployment.

If you do not use ops files for customization, 
you can still customize your Cloud Foundry to use BBR. 
Examine the contents of the ops files on this page,
and use them as a guide to customize your deployment manifest directly.

The repository for the Cloud Foundry deployment is [`cf-deployment`](https://github.com/cloudfoundry/cf-deployment).

<div class="note warning">
  <strong>WARNING</strong>:
  <ul>
    <li><strong>Backup artifacts can contain secrets.</strong> Secure backup artifacts with encryption or by other means.</li>
    <li><strong>The restore is a destructive operation.</strong> BBR is designed to restore CF after a disaster.
        If it fails, the environment can be left in an unusable state and require reprovisioning.
        For the generic method of restoring a deployment, see <a href="restore.html">Restoring with BOSH Backup and Restore</a>.</li>
    <li><strong>Developers are unable to push apps for a few minutes during backup and restore.</strong>
        This is because the Cloud Controller API (CC API) stops sending and receiving calls
        for part of the process, for example, between the <code>pre-backup-lock</code> and <code>post-backup-unlock</code> stages.</li>
    <li><strong>BBR does not back up any service data.</strong>
        Back up Service data, such as Redis or RabbitMQ data, separately.</li>
  </ul>
</div>

## <a id='configure-cf'></a> Supported CF Configurations

Unless otherwise stated, the described functionality is available in `cf-deployment` v1.3.0 and later.

Your CF deployment is compatible with BBR if the following requirements are met:

  + An `enable-backup-restore.yml` ops file is deployed.</li>
  + An internal MySQL database is present.</li>
  + An internal WebDAV/NFS blobstore is present.</li>
  + No optional components, such as a runtime CredHub store or an NFS volume service, are deployed.</li>

If your CF deployment does not fit the above requirements, 
then you might be able to use BBR by applying additional ops files as described in the table below
and by using a later version of `cf-deployment`. 


<table class="nice">
  <tr>
    <th>To use BBR with…</th>
    <th>Use this ops file…</th>
    <th>And…</th>
  </tr>
  <tr>
    <td>An external MySQL database (with a MariaDB 10.1 engine*) hosted on RDS using <code>use-external-dbs.yml</code></td>
    <td><a href="https://github.com/cloudfoundry/cf-deployment/blob/master/operations/use-external-dbs.yml"><code>use-external-dbs.yml</code></a></td>
    <td><em>n/a</em></td>
  </tr>
  <tr>
    <td>An external blobstore hosted on Amazon S3 or a compatible storage solution that supports S3 versioning
        and AWS Signature Version 4<br>
        <code>use-s3-blobstore.yml</code>
    </td>
    <td><code>enable-backup-restore-s3.yml</code><br>
    </td>
    <td><code>cf-deployment</code> v1.4.0 or later.<br>
        For instructions, see <a href="external-blobstores.html">Enabling an External Blobstore</a>.
     </td>
  </tr>
  <tr>
    <td>An NFS volume service component<br>
<code>enable-nfs-volume-service.yml</code></td>
    <td><a href="https://github.com/cloudfoundry/cf-deployment/blob/master/operations/experimental/enable-nfs-broker-backup.yml"><code>enable-nfs-broker-backup.yml</code></a></td>
    <td><em>n/a</em></td>
  </tr>
  <tr>
    <td>CredHub data store component<br> <code>secure-service-credentials.yml</code></td>
    <td><a href="https://github.com/cloudfoundry/cf-deployment/blob/master/operations/experimental/enable-backup-restore-credhub.yml"><code>enable-backup-restore-credhub.yml</code></a></td>
    <td><em>n/a</em></td>
  </tr>
</table>

\* Support for RDS with a MySQL 5.5, 5.6, and 5.7 engine is coming soon.

## <a id="order"></a> Apply Ops Files in the Correct Order

Apply the ops files in the following order:

1. `use-s3-blobstore.yml`

1. `use-external-dbs.yml`
 
1. `enable-backup-restore.yml`

1. `enable-backup-restore-s3.yml`

1. `enable-nfs-broker-backup.yml`

1. `enable-backup-restore-credhub.yml`

<p class="note"><strong>Note</strong>: This is the <em>relative</em> order.
You can apply other ops files in between.<br>
For example, you can apply an ops file between <code>use-external-dbs.yml</code> and <code>enable-backup-restore.yml</code>,
but do not apply <code>enable-backup-restore.yml</code> <em>before</em> <code>use-external-dbs.yml</code>.
</p>

## <a id='process'></a> Next Steps

After Cloud Foundry is configured to be compatible with BBR,
it can be backed up and restored. 

Follow the procedures in [Back Up a BOSH Deployment](backup.html#back-up-deployment)
and [Restore a BOSH Deployment](restore.html#restore-deployment).

At minimum, run the pre-backup check against your Cloud Foundry deployment.
Follow the first two steps of [Back Up a BOSH Deployment](./backup.html#back-up-deployment). 
This lists the scripts that run during a backup and the order that they are applied in.
