---
title: Installing BOSH Backup and Restore
owner: BBR
---

This topic describes how to install BOSH Backup and Restore (BBR).

##<a id="jumpbox-setup"></a> Step 1: Set Up Your Jumpbox

Set up your jumpbox with the following settings:

* The jumpbox must have sufficient space for the backup. 
* BBR connects to the VMs at their private IP address, so the jumpbox needs to be in the same network as the deployed VMs. BBR does not support SSH gateways.
* BBR copies the backed-up data from the VMs to the jumpbox, so ensure you have minimal network latency between them to reduce transfer times.

Consult the following table for more information about the network access permissions required by BBR.

<table>
<tr>
<th>VM</th>
<th>Default Port</th>
<th>Description</th>
</tr>
<tr>
<td>BOSH Director</td>
<td>25555</td>
<td>BBR interacts with the BOSH Director API.</td>
</tr>
<tr>
<td>Deployed Instances</td>
<td>22</td>
<td>BBR uses SSH to orchestrate the backup on the instances.</td>
</tr>
<tr>
<td>BOSH Director UAA</td>
<td>8443</td>
<td>BBR interacts with the UAA API for authentication, if necessary.</td>
</tr>
</table>

## <a id='scp'></a>Step 2: Transfer BBR to Your Jumpbox

Perform the following steps to transfer the `bbr` binary to your jumpbox:

1. Download the [latest BBR release](https://github.com/pivotal-cf/bosh-backup-and-restore/releases/).
1. Change the permissions of `bbr` in order to make it executable:
	<pre class="terminal">$ chmod a+x bbr</pre>
1. SCP the binary to your jumpbox:
	<pre class="terminal">$ scp LOCAL\_PATH\_TO\_BBR/bbr JUMPBOX\_USER/JUMPBOX\_ADDRESS</pre>
	If your jumpbox has access to the internet, you can also SSH into your jumpbox and use `wget`:
	<pre class="terminal">
	$ ssh JUMPBOX\_USER/JUMPBOX\_ADDRESS -i YOUR\_CERTIFICATE.pem
	$ wget BBR\_RELEASE\_URL
	$ chmod a+x bbr
	</pre>

##<a id="advice"></a>  Advice for Operators

You must place the `bbr` binary on a jumpbox that is able to communicate with 
the network that your BOSH deployment is on, and that has sufficient storage to house 
the backups you intend to keep on it. For instance, a PCF backup will be at least 1.5GB in size.

We recommend that you make redundant copies of your backups and that you store 
them in multiple locations in order to minimize the risk of losing your backups in the event of a disaster.

We also recommend that you attempt a test restore on every backup 
that you make in order to validate that the backup can be restored from.
